@import "app";

body {
  background: #f6f6f6;
  font-family: "adelle-sans",sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1,h2,h3,h4,h5 {
  font-family: "adelle-sans",sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-family: "adelle-sans",sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: "adelle-sans",sans-serif;
  font-style: normal;
  font-weight: 400;
}

.page-title {
  text-align: center;
  clear: both;
}

#header {
  background: url('/img/headerbg.jpg') center center no-repeat fixed;
  background-size: cover;
  @include clearfix();
  color: #fff;
  min-height: 500px;

  #logo {
    padding: 0;
    margin: 75px auto;
    text-align: center;

    a {
      margin: 0 auto;
      background: transparent;
      display: block;
      text-indent: -9999px;
      width: 385px;
      height: 385px;
      @include image-2x('/img/logo.png', 385px, 385px);
    }
  }
}

#stickycont{
  //background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAX/GZH4/4FsRpgAmAOSBBFwDkgAAIKuBATRTAAZAAAAAElFTkSuQmCC) repeat;
  //background: transparent url('/img/lines.png') repeat;
  //background-color: rgba(00, 00, 00, .3);
  background-color: transparent;
  background-image: $crosshatch;

  .top-bar {
    background-color: transparent;

    .top-bar-section {
      background: transparent;

      .nav-bar {
        background: transparent;

        a {
          background: transparent;
          color: #000;
          text-transform: uppercase;
        }
      }
    }
  }

  &.fixed {
    background: $crosshatch-reverse;
    
    .top-bar {
      .top-bar-section {
        .nav-bar {
          a {
            color: white;
            @include text-shadow(rgba(black, 1) 1px 1px 0);
          }
        }
      }
    }
  }
}

.content-section {
  padding: 60px 0;
}

#tagline {
  background: #eee;

  p {
    margin-bottom: .9em;
  }

  .devices {
    margin-top: 100px;
  }
}

.dotdash {
  width: 170px;
  margin: -25px auto 25px;
  position: relative;
  z-index: 99;  

  &:before {
    content: "";
    display: block;
    @include border-radius(50%);
    background: $crosshatch;
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 15px;
  }

  &:after {
    content: "";
    display: block;
    background: $crosshatch;
    height: 50px;
    width: 100px;
    float: left;
  }
}

#work.content-section {
  background: $crosshatch-reverse;
  background-color: #444;
  padding: 0px; 
  margin-top: -25px;

  .page-title {
    margin-bottom: 40px;
  }

  h2 {
    color: #fff;
  }

  .portfolio-row {
    @include clearfix;
    clear: both;

    &.first-row {
      margin-top: -25px;
    }

    .portfolio-block {
      width: 25%;
      float: left;
      cursor: pointer;

      .portfolio-item {
        padding: 0px;
        text-align: center;

        &.noble {
          background: url(/img/portfolio/noble.png) top center no-repeat;
        }

        &.earwolf {
          background: url(/img/portfolio/earwolf.png) top center no-repeat;
        }

        &.ideatraction {
          background: url(/img/portfolio/ideatraction.png) top center no-repeat;
        }

        .content {
          min-height: 300px;
          background: rgba(00, 00, 00, 0.7);
          @include transition(all .15s ease-in);
          position: relative;
          margin: 0;  
          padding: 0; 

          &:hover {
            background: transparent;

            h3 {
              @include opacity(1);
            }
          }
        
          h3 {
            margin: 0 auto;
            width: 100%;
            min-height: 300px;
            line-height: 300px;
            @include opacity(0.1);
            font-size: 1.2em;

            span {
              color: white;
              background: black;
              padding: 20px;
              border: 3px solid white;
              outline: 8px solid black;
            }
          }

        }
      }
    }
  }
}

#about {
  background: url(/img/library.png) center center no-repeat fixed;

  h2, p {
    color: #fff;
  }
}