---
title: Dot Dash Web &amp; Mobile Design and Development | Cincinnati, OH
---

        <header id="header">
		<div class="small-12 columns" id="home">
                <h1 id="logo">
                    <a href="#tagline" class="scrollTo">Dot Dash Web &amp; Mobile Design and Development | Cincinnati, OH</a>
                  </h1>
		</div>
	</header>

      <div id="stickycont" class="contain-to-grid sticky">
        <nav class="top-bar">
          <ul>
            <li class="toggle-topbar"><a href="#"></a></li>
          </ul>
          <section class="top-bar-section">
            <ul class="nav-bar right">
              <li><a href="#home">Home</a></li>
              <li><a href="#work">Work</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Clients</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </section>
        </nav>
      </div>

      <div id="tagline" class="content-section">
    	  <div class="row">
          <div class="large-6 columns">
            <h3>Sammy Morse got it right.</h3>
              <p>The telegraph, the first form of electronic communication, consisted of ten words and two simple symbols: short and long -- the dot and the dash. </p>
              <p>Better choose your words wisely. </p>
              <p>Turns out, not much has changed. Web and mobile communication face the same challenges as the telegraph: no facial expression, no vocal inflection, and no handshake -- and effectively getting your message across the wire today requires the same pinpointed precision it always has. </p>
              <p>At Dot Dash we believe in the power of simplicity and the unparalleled results of disciplined design.
              We create clean, beautiful, easy-to-maintain websites and mobile apps for clients ranging from Fortune 500 to non-profits to start-ups. </p>
            </div>
            <div class="large-6 columns">
              <img src="/img/device2.png" alt="Devices" class="devices" />
            </div>
          </div>
        </div><!--/tagline-->

      <!--<div class="dotdash"></div>-->  

      <div id="work" class="content-section">
        <!--<div class="row">
          <h2 class="page-title">The Work</h2>
        </div>-->
        <section class="even-row portfolio-row first-row">
          <article class="portfolio-block">
            <div class="portfolio-item ideatraction"><div class="content">
              <h3><span>Idea Traction</span></h3>
            </div></div>
          </article>          
          <article class="portfolio-block">
            <div class="portfolio-item earwolf"><div class="content">
              <h3><span>Earwolf</span></h3>
            </div></div>
          </article>
          <article class="portfolio-block">
            <div class="portfolio-item noble"><div class="content">
              <h3><span>Noble Denim</span></h3>
            </div></div>
          </article>
          <article class="portfolio-block">
            <div class="portfolio-item"><div class="content">
              <h3><span>Sacramento Kings</span></h3>
            </div></div>
          </article>
          <article class="portfolio-block">
            <div class="portfolio-item"><div class="content">
              <h3><span>Accidental Creative</span></h3>
            </div></div>
          </article>
          <article class="portfolio-block">
            <div class="portfolio-item"><div class="content">
              <h3><span>City Link Center</span></h3>
            </div></div>
          </article>
          <article class="portfolio-block">
            <div class="portfolio-item"><div class="content">
              <h3><span>Skinny Mom</span></h3>
            </div></div>
          </article>
          <article class="portfolio-block">
            <div class="portfolio-item"><div class="content">
              <h3><span>High Five Salon</span></h3>
            </div></div>
          </article>
          </div>
        </div>
      </div><!--/work-->
     <div class="dotdash"></div>

    <div id="about" class="content-section">
        <div class="row">
          <h2 class="page-title">About Us</h2>
          <div class="large-8 columns">
              <p>The telegraph, the first form of electronic communication, consisted of ten words and two simple symbols: short and long -- the dot and the dash. </p>
              <p>Better choose your words wisely. </p>
              <p>Turns out, not much has changed. Web and mobile communication face the same challenges as the telegraph: no facial expression, no vocal inflection, and no handshake -- and effectively getting your message across the wire today requires the same pinpointed precision it always has. </p>
              <p>At Dot Dash we believe in the power of simplicity and the unparalleled results of disciplined design.
              We create clean, beautiful, easy-to-maintain websites and mobile apps for clients ranging from Fortune 500 to non-profits to start-ups. </p>
              <p>Fist bump us, Sammy. We feel you.</p>
          </div>

        </div>
      </div><!--/about-->

